<% provide(:title, "Homepage") %>

<div class="center jumbotron">

  <% if !logged_in? %>

    <h1>Bookshelf</h1>
    <br>
    <p>Welcome! Finally, a place to hold your books so your brain doesn't have to.</p> 
    <p>Sign up below to get started.</p>
    <br>

    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-success" %>

  <% else %>
    <h1>Bookshelf</h1>
    <br>
    <p>Finish a book?</p> 
    <p>Ready to write that review?</p> 
    <p>Click below!</p>
  <% end %>

</div>