<footer class="footer">
  <small>
    <a href="/">Bookshelf</a>
    by <a href="https://twitter.com/AnnaWijetunga" target="_blank">Anna Wijetunga</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.penguin.co.uk/articles/2018/100-must-read-classic-books/" target="_blank">Classic Books</a></li>
      <li><a href="https://www.realsimple.com/work-life/entertainment/best-books-2020?" target="_blank">Best of 2020</a></li>
      <li><a href="https://time.com/100-best-childrens-books/" target="_blank">Children's Books</a></li>
    </ul>
  </nav>
</footer>