<footer class="footer">
  <small>
    <a href="/">Bookshelf</a>
    by <a href="http://" target="_blank">Anna Wijetunga</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://" target="_blank">Books</a></li>
      <li><a href="http://" target="_blank">Books</a></li>
      <li><a href="http://" target="_blank">Books</a></li>
    </ul>
  </nav>
</footer>