<footer class="footer">
  <small>
    <a href="/">Bookshelf</a>
    by <a href="https://twitter.com/AnnaWijetunga" target="_blank">Anna Wijetunga</a>
  </small>
  <nav>
    <ul>
      <li>Not sure what to read next?</li>
      <li><a href="https://www.washingtonpost.com/graphics/2019/entertainment/books/100-books-for-the-ages/" target="_blank">Classic Books</a></li>
      <li><a href="https://www.oprahmag.com/entertainment/books/g30107265/best-books-2020/" target="_blank">Best of 2020</a></li>
      <li><a href="https://time.com/100-best-childrens-books/" target="_blank">Kid's Picks</a></li>
    </ul>
  </nav>
</footer>